<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="VideoSubtitleFolderPath" value="D:\TestFOlder"/>
		<!--<add key="CommonCharacterSequence" value="s03e01"/>-->
		<add key="VideoExtention" value=".mkv"/>
		<add key="SubtitleExtention" value=".srt"/>
		<add key="SeasonNumber" value="3"/> <!--For Example: 1,2,3,4 (Season 1 if video has S01, 2 if S02)-->
		<add key="NumberOfEpisode" value="3"/>
	</appSettings>
</configuration>